<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exp.ysy.demo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AutoCompleteText_demo"
            android:label="AutoCompleteTextView" />
        <activity
            android:name=".Bluetooth_demo"
            android:label="Bluetooth" />
        <activity
            android:name=".MarqueeTextview_demo"
            android:label="Marquee" />
        <activity
            android:name="subclass.MyTab"
            android:label="TabHost" />
        <activity
            android:name="subclass.WebView_demo"
            android:label="web" />
        <activity android:name="subclass.CustomSeekbar" />
        <activity android:name="subclass.CustomView" />
        <activity android:name="subclass.CustomImageView_Activity" />
        <activity android:name="subclass.CustomProgressbar_Activity" />
        <activity android:name="subclass.CustomVolumControlBar_Activity" />
        <activity android:name="subclass.Fragment_Activity" />
        <activity android:name="subclass.FragmentActivity2" />
    </application>

</manifest>
